.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  padding: 8px 0;
  position: fixed;
  background-color: #f8f8f8;
  z-index: 34;
  width: 100%;
  height: 56px;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.create-event-btn {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 60px;
  border-radius: 100px;
}
.create-event-btn:hover {
  box-shadow: 2px 2px 5px 1px #dadada;
}

.navigation__today-btn {
  margin-left: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.navigation__today-btn:hover {
  box-shadow: 2px 2px 5px 1px #dadada;
}

.create-event-btn__icon {
  margin-right: 12px;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #ffffff;
  padding: 16px;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 37;
}

.popup__content {
  position: absolute;
  background: #ffffff;
  padding: 16px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 32%;
}
.popup__content_icons {
  display: flex;
  align-items: center;
  justify-content: end;
}
.popup__content_icons i {
  margin-left: 20px;
  cursor: pointer;
}

.event__header {
  font-size: 28px;
  margin-bottom: 4px;
}

.event__date-time {
  font-size: 14px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.calendar__header {
  width: 100%;
  display: flex;
  justify-content: stretch;
  position: fixed;
  top: 56px;
  left: 0;
  background-color: #f8f8f8;
  z-index: 34;
  box-shadow: 0px -14px 29px -17px #d8d8d880;
}
.calendar__header > .empty {
  width: 417px;
  height: 100px;
  box-shadow: 0px -1px 0px 0px #d8d8d8 inset;
}
.calendar__header > div {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
}

.calendar__day-label {
  position: relative;
}

.day-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-label__day-name {
  margin-bottom: 4px;
  font-size: 16px;
}
.day-label__day-number {
  font-size: 28px;
  padding: 12px;
  border-radius: 50%;
}
.day-label__day-number.currentDay {
  background-color: #519e9e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.header__botom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  box-shadow: 0px -1px 0px 0px #d8d8d8 inset, 1px 0px 0px 0px #d8d8d8 inset;
}

.calendar__body {
  margin-top: 156px;
}

.calendar__week-container {
  display: flex;
}

.calendar__week {
  height: 100%;
  width: 100%;
  display: flex;
}

.calendar__day {
  position: relative;
  height: 100%;
  width: 100%;
}

.calendar__time-slot {
  position: relative;
  height: 60px;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.event {
  position: absolute;
  width: 90%;
  z-index: 2;
  border-radius: 1%;
  padding: 12px;
  left: 3px;
  background-color: #bedfe5;
  box-shadow: 0px -1px 0px 0px #ffffff inset, 0px 1px 0px 0px #ffffff inset;
}

.calendar__time-scale {
  width: 60px;
}

.time-slot {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
}
.time-slot__time {
  margin-bottom: -7px;
}

.modal__content {
  position: relative;
  border: none;
  box-shadow: 2px 2px 26px 22px #7777771f;
}

.create-event__close-btn {
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.event-form {
  display: flex;
  flex-direction: column;
}
.event-form__time {
  display: flex;
  flex-direction: column;
  position: relative;
}
.event-form__field[name=title] {
  font-size: 24px;
  border: none;
  border-bottom: 2px solid #519e9e;
  display: block;
  width: 80%;
  align-self: flex-end;
  outline: none;
  margin-top: 20px;
  margin-bottom: 40px;
}
.event-form__field {
  border: none;
  outline: none;
  appearance: none;
}
.event-form__submit-btn {
  width: 140px;
  align-self: flex-end;
  border: none;
  background-color: #519e9e;
  padding: 8px 12px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 40px;
}

.not-valid {
  font-size: 12px;
  color: #ff0000;
  position: absolute;
  top: 94px;
  right: 0;
}

.date_time {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;
}
.date_time input[type=date] {
  width: 146px;
  margin-right: 30px;
  border-bottom: 1px solid #d3d3d3;
}
.date_time input[type=date]::placeholder {
  color: #808080;
}

.time_container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  align-items: center;
}
.time_container input {
  margin: 0;
  width: 80px;
}
.time_container span {
  margin-right: 30px;
}

.popup__overlay {
  width: 40%;
}

.line {
  position: absolute;
  display: flex;
  align-items: top;
  width: 100%;
  height: 20px;
  z-index: 33;
  top: 0px;
}
.line_line {
  display: block;
  margin-left: -5px;
  height: 4px;
  width: 100%;
  background-color: #b81111;
  border-radius: 50px;
}
.line_dote {
  margin-left: -5px;
  margin-top: -4px;
  height: 12px;
  width: 12px;
  background-color: #b81111;
  border-radius: 50px;
  display: block;
  border-radius: 50%;
}

.color-picker-container {
  position: relative;
  margin-bottom: 14px;
  border-radius: 2px;
  cursor: pointer;
}

.color__editor {
  width: 80px;
  padding: 6px;
  background-color: #f8f8f8;
}
.color__editor-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.color__editor-choosed {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #519e9e;
  margin-right: 12px;
}
.color__editor-arrow {
  font-size: 12px;
}

.color__picker {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  width: 80px;
  border-radius: 4px;
}
.color__picker.picker-hidden {
  display: none;
}
.color__picker-row {
  padding: 6px;
  display: flex;
  justify-content: space-around;
}
.color__picker-color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}
.check.check-hidden {
  display: none;
}

.color-sircle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.color1 {
  background-color: #D50000;
}

.color2 {
  background-color: #E67C73;
}

.color3 {
  background-color: #F4511E;
}

.color4 {
  background-color: #F6BF26;
}

.color5 {
  background-color: #33B679;
}

.color6 {
  background-color: #0B8043;
}

.color7 {
  background-color: #519e9e;
}

.color8 {
  background-color: #3F51B5;
}

.color9 {
  background-color: #7986CB;
}

.color10 {
  background-color: #8E24AA;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
