@import 'variables.scss';

.calendar__header {
  width: 100%;
  display: flex;
  justify-content: stretch;
  position: fixed;
  top: $header-height;
  left: 0;
  background-color: $headers-color;
  z-index: 34;
  box-shadow: 0px -14px 29px -17px #d8d8d880;

  & > .empty {
    width: 417px;
    height: $calendar-header-height;
    box-shadow: 0px -1px 0px 0px #d8d8d8 inset;
  }
  & > div {
    display: flex;
    width: 100%;
    height:$calendar-header-height;
    flex-direction: column;
  }
}
.calendar__day-label {
  position: relative;
}
.day-label {
  display: flex;
  align-items: center;
  justify-content: center;

  &__day-name {
    margin-bottom: 4px;
    font-size: 16px;
  }

  &__day-number {
    font-size: 28px;
    padding: 12px;
    border-radius: 50%;
    
    &.currentDay {
      background-color: $accent-color;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      color: $white-color;
      align-items: center;
      justify-content: center;
    }
  }
}
.header__botom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $calendar-header-divider-height;
  box-shadow: 0px -1px 0px 0px rgb(216, 216, 216) inset,
    1px 0px 0px 0px rgb(216, 216, 216) inset;
}
.calendar__body {
  margin-top: ($header-height + $calendar-header-height);
}
.calendar__week-container {
  display: flex;
}
.calendar__week {
  height: 100%;
  width: 100%;
  display: flex;
}
.calendar__day {
  position: relative;
  height: 100%;
  width: 100%;
}
.calendar__time-slot {
  position: relative;
  height: 60px;
  border-left: $day-border;
  border-bottom: $day-border;
}
.event {
  position: absolute;
  width: 90%;
  z-index: 2;
  border-radius: 1%;
  padding: 12px;
  left: 3px;
  background-color: $event-background-color;
  box-shadow: $event-divider;
}