@import 'variables.scss';

.modal__content {
  position: relative;
  border: none;
  box-shadow: $modal-box-shadow
}
.create-event__close-btn {
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.event-form {
  display: flex;
  flex-direction: column;

  &__time {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__field[name='title'] {
    font-size: 24px;
    border: none;
    border-bottom: 2px solid $accent-color;
    display: block;
    width: 80%;
    align-self: flex-end;
    outline: none;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__field {
    border: none;
    outline: none;
    appearance: none;
  }

  &__submit-btn {
    width: 140px;
    align-self: flex-end;
    border: none;
    background-color: $accent-color;
    padding: 8px 12px;
    font-size: 20px;
    color: $white-color;
    font-weight: 100;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 40px;
  }
}
.not-valid {
  font-size: 12px;
  color: $not-valid-color;
  position: absolute;
  top: 94px;
  right: 0;
}
.date_time {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 60px;

  & input[type='date'] {
    width: 146px;
    margin-right: 30px;
    border-bottom: $input-bortder-bottom;
  }
  & input[type='date']::placeholder {
    color: $input-placeholder-color;
  }
}
.time_container {
  display: flex;
  width: 100%;
  border-bottom: $input-bortder-bottom;
  align-items: center;
  & input {
    margin: 0;
    width: 80px;
  }
  & span {
    margin-right: 30px;
  }
}
.popup__overlay{
  width: 40%;
}