.calendar__time-scale {
  width: 60px;
}
.time-slot {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;

  &__time {
    margin-bottom: -7px;
  }
}