$time-line-color: #b81111;
$not-valid-color: #ff0000;
$accent-color: #519e9e;
$event-background-color: #bedfe5;
$white-color: #ffffff;
$headers-color: #f8f8f8;
$overlay-color: #cccccc45;
$input-placeholder-color: #808080;

$modal-box-shadow: 2px 2px 26px 22px #7777771f;
$event-divider: 0px -1px 0px 0px #ffffff inset, 
              0px 1px 0px 0px #ffffff inset;
$day-border: 1px solid #d8d8d8;
$dark-grey-border: 1px solid #cccccc;
$input-bortder-bottom: 1px solid #d3d3d3;

$button-hover: 2px 2px 5px 1px #dadada;

$calendar-header-divider-height: 40px;
$calendar-header-height: 100px;
$header-height: 56px;